---
/** 
 * This Layout is for the License pages.
 */

// Components
import Button from "../component/Button.astro";
import Breadcrumbs from "../component/Breadcrumbs.astro";

// Data from markdown
const { frontmatter } = Astro.props;
const {title, titleAlt, blogTitleAlt, homePageUrl, previousPageUrl, licenseContent, licenseConditions, licenseDisclaimer, hideButtons } = frontmatter;
---
<!-- Header bar -->
<div class="license-container container mx-auto desktop:px-16 tablet:px-16 px-9">
  {!hideButtons && (
  <div class="breadcrumb-container text-left pt-10"><Breadcrumbs titleAlt={titleAlt} blogTitleAlt={blogTitleAlt} /></div>
  <div class="license-header text-center mt-10">
    <Button type="primary" url={previousPageUrl}>BACK</Button>
    <Button type="primary" url={homePageUrl}>DPEL HOME PAGE</Button>
    <h2 class="desktop:text-5xl tablet:text-5xl  pt-10 pb-10 mb-20">{title}</h2>
  </div>
  )}
  <div class="license-content pb-0">
    { 
      licenseContent.map(content => (
        <p class="mb-5">{content}</p>
      ))
    }
  </div>
  <div class="license-conditions">
    <ol class="ml-8">
    { 
      licenseConditions.map(condition => (
        <li class="mb-5">{condition}</li>
      ))
    }
    </ol>
  </div>
  <div class="license-disclaimer mt-5">
    <p>{licenseDisclaimer}</p>
  </div>
</div>

<style>
  ol li {
    list-style: decimal;
    list-style-position: outside;
  }

  .breadcrumb-container {
    font-size: 14px;
  }

  .license-container {
    font-family: "Titillium Web", "Open Sans", sans-serif !important;
    font-size: 45px;
  }

  .license-header {
    background-image: url("../../public/images/general/dpel-icon-faded.svg");
    background-position: center;
    background-color: #FFFFFF;
    background-size: cover;
  }

  .license-content, .license-conditions, .license-disclaimer {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200;
  }
</style>